html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
}
html {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}
*, *:before, *:after {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

/* END CSS RESET */

/* Begin Custom classes */
.f-space5 {
	margin-top: 5px;
}
.f-space10 {
	margin-top: 10px;
}
.f-space15 {
	margin-top: 15px;
}
.f-space20 {
	margin-top: 20px
}
.f-space50 {
	margin-top: 50px;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.button {
	border-radius: 3px;
	color: #000000;
	display: inline-block;
	font-size: 16px;
	padding: 5px 10px;
	vertical-align: baseline;
	border: medium none;
	cursor: pointer;
	text-transform: none;
	line-height: normal;
}
.button.orange {
	background: #e57200 linear-gradient(to bottom, #fc9c3d 0%, #dc6e01 100%) repeat scroll;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #000000;
}
.button.orange:hover {
	background: #dc6e01 linear-gradient(to bottom, #fc8f24 0%, #c36101 100%) repeat scroll;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #000000;
}
.button.left-orange {
	background: #e57200 linear-gradient(to bottom, #fc9c3d 0%, #dc6e01 100%) repeat scroll;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #000000;
}
.button.left-orange:hover {
	background: #dc6e01 linear-gradient(to bottom, #fc8f24 0%, #c36101 100%) repeat scroll;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #000000;
}
hr {
	border-color: #ccc;
}
.fa-check {
	color: #f66f00;
}
.circle-icon .fa-check {
    color: #fff;
    font-size: 80px;
    margin-left: 11px;
    margin-top: 11px;
}

/* End Custom Classes */

header {
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
header.scrolled {
	max-height: 75px;
	line-height: 80px;
}
header .logo {
	background-image: url("../images/logo.png");
	color: transparent;
    display: block;
    float: left;
    height: 64px;
    margin-top: 20px;
    position: relative;
    width: 230px;
    -webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
header.scrolled .logo {
	background-image: url("../images/logo-small.png");
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
    display: block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
header .support {
	padding-top: 30px;
}
header.scrolled .support {
	padding-top: 0px;
}
header .support p {
	float: right;
	margin: 10px 15px 0 0;
	padding: 0;
	position: relative;
	font-size: 20px;
}
header.scrolled .support p {
	margin: 0px 15px 0 0;
}
header .support p a {
	color: #000000;
	font-size: 20px;
	margin-left: 35px;
	position: relative;
}

main[role="main"] {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
main[role="main"] .heading {
    font-size: 30px;
    padding: 15px 0;
    text-align: center;
}
main[role="main"] .sub-heading {
    border-bottom: 3px solid #f66f00;
    color: #000000;
    font-size: 22px;
    padding: 8px 0;
}

main[role="main"] .welcome-wrapper .welcome-heading {
    color: #f66f00;
    font-size: 33px;
    padding: 10px 0;
    text-align: center;
}
main[role="main"] .welcome-wrapper .business-image,
main[role="main"] .welcome-wrapper .etailer-image {
    background-color: #dbdbdb;
    padding: 90px;
    text-align: center;
    color: #000000;
}
main[role="main"] .welcome-wrapper .descr {
    padding: 10px;
}
main[role="main"] .welcome-wrapper p {
    color: #000;
    font-size: 14px;
    text-align: center;
}
main[role="main"] .welcome-wrapper .descr .sub-para {
	color: #000;
}
main[role="main"] .welcome-wrapper .descr p {
	line-height: 20px;
    text-align: left;
    color: #444;
}
main[role="main"] .welcome-wrapper .button.styled {
	font-weight: 700;
	padding: 10px 40px 10px 10px;
	position: relative;
    text-align: center;
    width: 100%;
}
main[role="main"] .welcome-wrapper .descr ul,
main[role="main"] .welcome-wrapper .descr li {
  padding: 0;
  margin: 0;
  list-style: none;
}
main[role="main"] .welcome-wrapper .descr ul {
  margin: 1em 0;
}
main[role="main"] .welcome-wrapper .descr li {
  margin: 1em;
  margin-left: 3em;
}
main[role="main"] .welcome-wrapper .descr li:before {
  content: '\f054';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #f66f00;
}

.opt-reg .quick-box,
.opt-reg .full-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.opt-reg .reg-heading {
    color: #f66f00;
    font-size: 22px;
    font-weight: 600;
    padding: 0;
    text-align: left;
}
.opt-reg .subheading {
    color: #f66f00;
    font-size: 24px;
    line-height: 28px;
    padding: 5px 0 10px;
}
.opt-reg .avg-time {
    color: #000;
    font-size: 17px;
    padding-bottom: 10px;
}
.opt-reg .avg-time  span {
	color: #f66f00;
}
.opt-reg p {
    color: #444;
    font-size: 11px;
    line-height: 18px;
}
.opt-reg p > a {
	color: #f66f00;
}
.opt-reg .button.styled {
    font-weight: 700;
    padding: 10px 40px 10px 10px;
    position: relative;
    text-align: center;
    width: 50%;
}

main[role="main"] .full-registration .form-heading {
    color: #f66f00;
    font-size: 30px;
    padding: 0 15px;
}
main[role="main"] .full-registration .progress-heading {
    color: #444;
    font-size: 22px;
    float: left;
}
main[role="main"] .full-registration .current-step {
    color: #333;
    font-size: 22px;
    text-align: right;
}
main[role="main"] .full-registration .progress {
	border: 3px solid #f66f00;
	margin-bottom: 0px;
}
main[role="main"] .full-registration .progress .step1-1,
main[role="main"] .full-registration .progress .step2-1 {
    background-color: #fff;
    border-right: 3px solid #f66f00;
}
main[role="main"] .full-registration .progress .step3-1 {
    background-color: #fff;
}
main[role="main"] .full-registration .current-status {
    color: #444;
    font-size: 12px;
    text-align: center;
}
main[role="main"] .full-registration .full-regform .form-box {
	padding: 15px 15px 0;
}
main[role="main"] .full-registration .full-regform .step2-form-box {
	padding: 0 15px;
}
main[role="main"] .full-registration .full-regform .full-label {
	color: #444;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
}
main[role="main"] .full-registration .full-regform .telephone-label {
	display: block;
	padding: 0 15px;
}
main[role="main"] .full-registration span.required-text {
    color: #444;
    font-size: 18px;
    line-height: 40px;
}
main[role="main"] .full-registration .full-regform .full-input {
	color: #333;
}
main[role="main"] .full-registration em {
    color: #f66f00;
}
main[role="main"] .full-registration .full-regform .full-select {
	background: #d0cfcf linear-gradient(to bottom, #eae9e9 0%, #d0cfcf 100%) repeat scroll 0 0;
	color: #333333;
}
main[role="main"] .full-registration .button.styled {
	font-weight: 700;
	padding: 10px 40px 10px 10px;
	position: relative;
    text-align: center;
    width: 100%;
    margin: 0px 0 20px;
}
main[role="main"] .full-registration .button.left-styled {
	font-weight: 700;
	padding: 10px 10px 10px 25px;
	position: relative;
    text-align: center;
    width: 100%;
    margin: 0px 0 20px;
}
main[role="main"] .full-registration .button.edit-delete {
	font-weight: 700;
	padding: 10px 40px 10px 10px;
	position: relative;
    text-align: center;
    width: 100%;
    margin: 5px 0;
}

main[role="main"] .full-registration .step2form-heading {
    color: #f66f00;
    font-size: 30px;
}
main[role="main"] .full-registration .progress .step1-2 {
    background-color: #f66f00;
    border-right: 3px solid #f66f00;
	box-shadow: none;
}
main[role="main"] .full-registration .progress .step2-2 {
    background-color: #fff;
    border-right: 3px solid #f66f00;
}
main[role="main"] .full-registration .progress .step3-2 {
    background-color: #fff;
}
main[role="main"] .full-registration .full-regform .postcode-label {
	display: block;
	padding: 0 15px;
}
main[role="main"] .full-registration .full-regform .trading-address {
	display: block;
}
main[role="main"] .full-registration .full-regform .trading-label {
    line-height: 22px;
}

main[role="main"] .full-registration .step3form-heading {
    color: #f66f00;
    font-size: 30px;
}
main[role="main"] .full-registration .progress .step1-3,
main[role="main"] .full-registration .progress .step2-3 {
    background-color: #f66f00;
    border-right: 3px solid #f66f00;
	box-shadow: none;
}
main[role="main"] .full-registration .progress .step3-3 {
    background-color: #fff;
}
main[role="main"] .full-registration .home-postcode {
	display: block;
	padding: 0 15px;
}
main[role="main"] .full-registration .authorise-trader {
	display: block;
}
main[role="main"] .full-registration .full-step3 .person-info {
    background-color: #ddd;
    padding: 10px 15px;
}
main[role="main"] .full-registration .decalaration {
	display: block;
}

main[role="main"] .full-registration .full-step3 {
	padding: 0px 10px;
}
main[role="main"] .full-registration .full-label {
	color: #444;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
}
main[role="main"] .full-registration .full-step3 .authorise-label {
	color: #444;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
main[role="main"] .full-registration .full-step3 .full-input {
	color: #333;
}
main[role="main"] .full-registration .full-step3 em {
    color: #f66f00;
}
main[role="main"] .full-registration .full-step3 .full-select {
	background: #d0cfcf linear-gradient(to bottom, #eae9e9 0%, #d0cfcf 100%) repeat scroll 0 0;
	color: #333333;
}
main[role="main"] .full-registration .full-step3 .vertical-separator {
    border-right: 3px solid #333;
}
main[role="main"] .full-registration .full-step3 .add-user {
    padding: 10px 0 0;
}
main[role="main"] .full-registration .full-step3 .added-heading {
    color: #000;
    font-size: 20px;
}
main[role="main"] .full-registration .confirmation {
	margin-left: 15px;
	margin-right: 15px;
}
main[role="main"] .full-registration .confirmation .full-label {
	color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
}
main[role="main"] .full-registration .confirmation .full-input {
	color: #333;
	background-color: #d1eefe;
}
main[role="main"] .full-registration .confirmation .confirm-heading {
    color: #000;
    font-size: 22px;
    text-align: left;
}
main[role="main"] .full-registration .confirm-label {
    color: #444;
    font-size: 15px;
    line-height: 22px;
}
main[role="main"] .full-registration .confirm-checkbox {
    color: #444;
    font-size: 15px;
    line-height: 22px;
    padding-top: 0px;
}
main[role="main"] .full-registration .button.back {
	font-weight: 700;
	padding: 10px 10px 10px 25px;
	position: relative;
    text-align: center;
    width: 15%;
}
main[role="main"] .full-registration .button.next {
	font-weight: 700;
	padding: 10px 40px 10px 10px;
	position: relative;
    text-align: center;
    width: 15%;
}

main[role="main"] .thanks-wrapper .circle-icon {
    background-color: #f66f00;
    border-radius: 50%;
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}
main[role="main"] .thanks-wrapper .thanks-message {
    color: #333;
    font-size: 20px;
    padding: 15px 0 15px;
    text-align: center;
}
main[role="main"] .thanks-wrapper p {
    color: #444;
    font-size: 15px;
    line-height: 25px;
}
main[role="main"] .thanks-wrapper ul {
    list-style: initial;
}
main[role="main"] .thanks-wrapper .button.back {
    display: block;
    font-weight: 700;
    margin: 30px auto;
    padding: 10px 10px 10px 25px;
    position: relative;
    width: 27%;
}
main[role="main"] .thanks-wrapper .form-box {
	padding: 15px;
}
main[role="main"] .thanks-wrapper .thankyou-heading {
    color: #f66f00;
    font-size: 30px;
}
main[role="main"] .thanks-wrapper .progress-heading {
    color: #444;
    font-size: 22px;
    float: left;
}
main[role="main"] .thanks-wrapper .current-step {
    color: #333;
    font-size: 22px;
    text-align: right;
}
main[role="main"] .thanks-wrapper .progress {
	border: 3px solid #f66f00;
	margin-bottom: 0px;
}
main[role="main"] .thanks-wrapper .progress .step1-4,
main[role="main"] .thanks-wrapper .progress .step2-4, 
main[role="main"] .thanks-wrapper .progress .step3-4 {
    background-color: #f66f00;
    border-right: 3px solid #f66f00;
	box-shadow: none;
}
main[role="main"] .thanks-wrapper .current-status {
    color: #444;
    font-size: 12px;
    text-align: center;
}
main[role="main"] .thanks-wrapper ul,
main[role="main"] .thanks-wrapper li {
  padding: 0;
  margin: 0;
  list-style: none;
}
main[role="main"] .thanks-wrapper ul {
  margin: 1em 0;
}
main[role="main"] .thanks-wrapper li {
  margin: 1em;
  margin-left: 3em;
}
main[role="main"] .thanks-wrapper li:before {
  content: '\f054';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #f66f00;
}

.user-count {
    color: #000;
    margin-top: 10px;
}
.user-fullname {
    color: #000;
    font-weight: 700;
    padding: 5px 0;
}
.add-user .people-group p {
    color: #000;
    line-height: 16px;
}
.add-user hr {
	border-color: #333;
}
input[type="text"].error, 
input[type="radio"].error,
input[type="checkbox"].error,
input[type="email"].error,
textarea.error {
	border: 1px solid #f66f00;
}
input[type="text"].valid, 
input[type="radio"].valid,
input[type="checkbox"].valid,
input[type="email"].valid,
textarea.valid {

}
label.error {
    background: #f66f00 none repeat scroll 0 0;
    color: #fff;
    padding: 3px 8px;
}

/* Modal CSS override */
.modal {
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-dialog {
	margin: 50px auto;
}
.modal-content {
    box-shadow: none;
}
.modal-content {
    background-clip: padding-box;
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: 0 none;
    position: relative;
}
.modal-header {
    border-bottom: medium none;
    min-height: 16.4286px;
    padding: 0 15px;
}

/* Form input CSS overrides */
.form-control {
    border: 1px solid #aaa;
}